@import url("pygment.css");

@font-face {
    font-family: "Latin Modern Roman Caps";
    src: url(../resources/lmromancaps10-regular.otf);
}

@font-face {
    font-family: "Latin Modern Roman Regular";
    src: url(../resources/fonts/lmroman10-regular.otf);
}

@font-face {
    font-family: "Latin Modern Roman Bold";
    src: url(../resources/fonts/lmroman10-bold.otf);
}

@font-face {
    font-family: "Latin Modern Roman Bolditalic";
    src: url(../resources/fonts/lmroman10-bolditalic.otf);
}

@font-face {
    font-family: "Latin Modern Mono Prop Regular";
    src: url(../resources/fonts/lmmonoprop10-regular.otf);
}

@font-face {
    font-family: "Latin Modern Roman Italic";
    src: url(../resources/fonts/lmroman10-italic.otf);
}

@font-face {
    font-family: "Noto Sans Mono Bold";
    src: url(../resources/fonts/NotoSansMono-Bold-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: "Noto Sans Mono Medium";
    src: url(../resources/fonts/NotoSansMono-Medium-Nerd-Font-Complete.ttf);
}

@font-face {
    font-family: "Noto Sans Mono Regular"; src: url(../resources/fonts/NotoSansMono-Regular-Nerd-Font-Complete.ttf);
}

/* =Base
----------------------------------------------- */

:root {
    --background-color: #e2d4d0;
    --accent-color: #a0bb64;

    --text-body-color: #000000;
    --text-body-size: calc(10pt + 0.5vw);
    --text-accent-color: #697c3e;

    --accent-font: "Latin Modern Mono Prop Regular";
    --body-font: "Latin Modern Roman Regular";

    --link-font: "Noto Sans Mono Regular";

    --monospace-font: "Noto Sans Mono Regular";

    --line-height: 1.45;

    --line-border-width: calc(2px + 0.3vw);
}

body {
    background-color: var(--background-color);
    color: var(--text-body-color);
    font-family: var(--body-font), serif;
    font-size: var(--text-body-size);
    margin: 0;
    line-height: var(--line-height);
    text-align: center;
}

div.entry-content h1 {
    font-size: calc(16pt + 1vw);
    margin-top: calc(5pt + 1.5vw);
    margin-bottom: calc(7pt + 1.5vw);
    line-height: 1.15;
}

div.entry-content h2 {
    font-size: calc(14pt + 1vw);
}

p {
    line-height: var(--line-height);
}

#container {
    height: auto;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}

#header {
    margin-top: calc(5pt + 1vw);
    padding-top: 0;
    margin-bottom: calc(5pt + 1vw);
    width: 100%;
}

#contents {
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/* =Header
----------------------------------------------- */
#site-title {
    font-family: "Latin Modern Mono Prop Regular", monospace;
    font-weight: normal;
    font-size: calc(20pt + 2vw);
    margin: 0;
}

#site-title a {
    color: var(--text-body-color);
    letter-spacing: 0;
    text-decoration: none;
}

#site-title a:hover {
    color: var(--text-accent-color);
}

#site-description {
    color: var(--text-body-color);
    display: inline-block;
    font-family: var(--accent-font);
    font-size: calc(12pt + 0.5vw);
    font-weight: normal;
    margin-top: calc(10pt + 0.5vw);
    margin-bottom: calc(10pt + 0.5vw);
}

#menu #header-image a {
    margin: 0;
    padding: 0;
}

/* Post */

div#post {
    padding-bottom: calc(15px + 1vw);
    border-bottom: var(--line-border-width) dashed var(--accent-color);
}

/* =Menu
----------------------------------------------- */
#menu {
    border-bottom: var(--line-border-width) solid var(--accent-color);
    border-top: var(--line-border-width) solid var(--accent-color);
    margin-bottom: calc(10pt + 2vw);
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
}

#menu a {
    margin-left: 10pt;
    margin-right: 10pt;
    text-decoration: none;
    text-transform: lowercase;
}

#menu a:hover {
    color: var(--accent-color);
}

#menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#menu li {
    float: right;
    position: relative;
}

#access a {
    color: var(--accent-color);
    display: block;
    text-decoration: none;
}

#menu ul ul {
    display: none;
    float: right;
    position: absolute;
    right: 0;
    top: 2em;
    z-index: 99999;
}

#menu ul ul ul {
    right: 100%;
    top: 0;
}

#menu ul ul a {
    background: var(--background-color);
    border-bottom: 1px solid var(--accent-color);
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1em;
    margin: 0;
    padding: .8em .5em .8em 1em;
    width: 130px;
}

#menu ul ul li:last-of-type a {
    border-bottom: none;
}

#menu li:hover > a,
#menu ul ul :hover > a {
    color: #444;
}

#menu ul ul a:hover {
    background: #f0f0f0;
}

#menu ul li:hover > ul {
    display: block;
}

#menu ul li.current_page_item > a,
#menu ul li.current_page_ancestor > a,
#menu ul li.current-menu-item > a,
#menu ul li.menu-item > a
{
    color: var(--text-body-color);
    font-family: var(--monospace-font);
    font-size: calc(9pt + 0.2vw);
}

#menu ul li.menu-item > a:hover
{
    color: var(--text-accent-color);
}

#menu ul li.active > a {
    color: var(--text-accent-color);
}

#menu ul:after {
    clear: both;
    content: ' ';
    display: block;
}

/* =Content
----------------------------------------------- */
.hentry {
    height: auto;
    clear: both;
    position: relative;
}

.hentry:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.hentry .main {
    float: left;
    line-height: 1vw;
    padding-top: 0vw;
    margin-top: 1.2vw;
    text-align: left;
    max-width: 100%;
}

.hentry .entry-meta {
    font-family: var(--accent-font), monospace;
    font-size: 1.2vw;
    float: left;
    padding: 0px;
    text-align: left;
}

.hentry .entry-meta a {
    text-decoration: none;
}

.hentry .entry-meta div {
    margin: 1vw;
}

.hentry .entry-meta .date {
    color: var(--text-body-color);
    font-family: var(--monospace-font);
    font-weight: normal;
    font-size: calc(10pt + 0.02vw);
    margin-left: 0;
    margin-bottom: calc(8px + 0.4vw);
    margin-top: calc(10px + 0.4vw);
}

.hentry .entry-meta .cat-links {
    color: var(--text-accent-color);
    font-size: var(--text-body-size);
    line-height: 1.2vw;
    margin-top: 0;
    margin-bottom: calc(10px + 1vw);
}

.hentry .entry-meta .cat-links a {
    color: var(--text-body-color);
    font-size: var(--text-body-size);
}

.hentry .entry-meta .cat-links a:hover {
    color: var(--text-accent-color);
}

.hentry div.margin {
    margin: 2vw;
}

.entry-title {
    color: var(--text-body-color);
    font-family: var(--accent-font), sans-serif;
    font-size: calc(14pt + 1vw);
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 2vw;
    text-align: left;
    text-decoration: none;
}

.entry-title a {
    color: var(--text-body-color);
    text-decoration: none;
    line-height: 1.25vw;
}

.entry-title a:hover {
    color: var(--text-accent-color);
    text-decoration: none;
}

blockquote {
    background: none;
    border-left: 1.2vw solid var(--accent-color);
    color: var(--text-body-color);
    font-family: var(--body-font), serif;
    font-size: var(--text-body-size);
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 10vw;
    padding-top: 1vw;
    text-align: justify;
}

a {
    color: var(--text-accent-color);
    font-family: var(--link-font);
    text-decoration: underline;
    font-size: calc(8pt + 0.5vw);
}

.entry-content a img {
    border: 10px solid #ddd;
}

.entry-content a:hover img {
    border: 10px solid #000;
}

.cat-links,
.tag-links {
    display: block;
    line-height: 1.15;
}

.entry-content table {
    margin: 0 0 20px 0;
    text-align: left;
    width: 100%;
}

.entry-content tr th,
.entry-content thead th {
    color: #888;
    font-weight: normal;
    line-height: 20px;
    padding: 9px 24px;
}

.entry-content tr td {
    padding: 6px 24px;
}

.entry-content tr.alternate td {
    background: #f5f5f5;
}

.navigation {
    margin: 10px 0;
}

.navigation div {
    display: inline;
    margin: 0 5px;
}

a.text-continued {
    font-family: var(--body-font);
    color: var(--text-accent-color);
    font-size: var(--text-body-size);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* General */

ol li {
    margin-bottom: 5px;
    line-height: var(--line-height);
}

ol ol {
    list-style: upper-alpha;
}

ol ol ol {
    list-style: lower-roman;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}



/* Sticky */
.sticky .main {
    background: #eee;
}

.sticky .date {
    display: none;
}

.sticky .entry-meta .comments {
    margin-top: 2px;
}

/* Page */

h2.entry-title-central {
    font-size: calc(20pt + 1vw);
    font-family: var(--accent-font);
    line-height: 1.15; 
    margin-top: 0;
}

h2.entry-title > a {
    font-size: calc(16pt + 0.8vw);
    font-family: var(--accent-font);
    line-height: 1.15; 
}

/* Aside */
.format-aside .entry-title {
    display: none;
}

.format-aside .entry-content p:first-child {
    margin-top: 0;
}

/* Link */
.format-link .entry-title:after {
    content: "\2192";
    font-size: 26px;
    padding-left: 10px;
    text-decoration: none;
}

p > a {
    font-family: var(--body-font);
    font-size: var(--text-body-size);
}

/* Quote */

.format-quote blockquote {
    font-size: var(--text-body-size);
}

.format-quote blockquote p:last-child {
    margin-bottom: 0;
}


/* =Images
-------------------------------------------------------------- */
a img {
    border: none;
}
p img {
    margin-bottom: 0.5em;
}

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}

img.alignleft {
    margin-right: 1em;
}

img.alignright {
    margin-left: 1em;
}

.wp-caption {
    background: #eee;
    border-radius: 3px;
    margin-bottom: 10px;
    max-width: 100%;
    padding: .8em;
    text-align: center;
}

.wp-caption img {
    margin: 0;
}

.wp-caption a img,
.wp-caption a:hover img {
    border: none;
}

.wp-caption .wp-caption-text {
    color: #666;
    font-size: 12px;
    margin: .5em;
}

.gallery-caption {
    color: #666;
}

.wp-smiley {
    margin: 0;
}

.attachment .navigation img {
    border: 5px solid #ddd;
}

.attachment .navigation a:hover img {
    border-color: #000;
}

/* =Widgets
----------------------------------------------- */
#widgets {
    border-top: 1px solid #ccc;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    text-align: left;
}

.widget-title {
    color: #555;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.widget-title a {
    color: #000;
    text-decoration: none;
}

#widgets .widget-area {
    width: 100%;
}

#widgets .widget {
    float: left;
    padding: 12px;
    width: 30%;
}

.widget {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 30px 0;
}

#widgets .widget:nth-child(3n+1) {
    clear: left;
}

.widget ul {
    margin: 0;
    padding-left: 20px;
}

/* Authors Widget */
.widget_authors ul {
	list-style-type: none;
	padding-left: 0;
}
.widget_authors img {
	vertical-align: middle;
}
.widget_authors img + strong {
	font-weight: normal;
	margin-left: 8px;
}
.widget_authors a:hover {
	text-decoration: none;
}

/* Authors Widget */
.widget_author_grid ul,
.widget_authors ul {
	list-style: none;
	margin: 0;
}

 /* RSS Widgets */
.widget_rss li {
	margin: 0 0 10px 0;
}

.widget_rss_links p img {
	margin-bottom: 0;
	vertical-align: middle;
}


/* =Footer
----------------------------------------------- */
#footer {
    border-top: var(--line-border-width) solid var(--accent-color);
    clear: both;
    color: var(--text-body-color);
    font-size: 0.9vw;
    font-weight: bold;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-align: center;
    width: 100%;
}

#footer a {
    font-size: 0.9vw;
}

/*
 * media queries
*/

@media only screen and (max-width: 800px) {
    #site-title {
        font-family: "Latin Modern Mono Prop Regular", monospace;
        font-weight: normal;
        font-size: calc(18pt + 1vw);
        margin: 0;
    }

    #container {
        height: auto;
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }

    #contents {
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    blockquote {
        border-left: 1.2vw solid var(--accent-color);
        color: var(--text-body-color);
        font-family: var(--body-font), serif;
        font-size: var(--text-body-size);
        padding-bottom: 0.4vw;
        padding-left: 2vw;
        padding-right: 0;
        padding-top: 0.4vw;
        margin-left: 1vw;
        margin-right: 15vw;
        text-align: left;
    }

    #footer {
        border-top: var(--line-border-width) solid var(--accent-color);
        clear: both;
        color: var(--text-body-color);
        font-size: calc(7pt + 0.2vw);
        font-weight: bold;
        height: auto;
        margin-top: 3vw;
        margin-bottom: 2vw;
        text-align: center;
        width: 100%;
    }

        #footer a {
            font-size: calc(8pt + 0.2vw);
        }

        #footer img {
            height: calc(8pt + 0.4vw);
            width: calc(8pt + 0.4vw);
        }

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}
